.site-description {
  color: #D6AD33;
  font: 1em $header-subtitle-font-family;
  font-style: italic;  
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}


.main {
  margin-left: 10px;
}

.left-col {
  background-image: linear-gradient(rgba(255, 255, 128, 0.1), rgba(255, 255, 128, 0.1)), url("/images/bg.png");
}

.code {
  background: white;
}

.line-numbers{
  color: lightgray; //change default color
}


